---
// import Social from './Social.astro';
---
<footer>
  <p class="text-center text-xs pb-0">Let's get in touch 🙂</p>

  <div class="social">
    <a href="https://docs.google.com/forms/d/1s5AiPMcfBe-EDCMZHsYnJY_voO03JXSMlQoVMryQLCY">
      <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-287q5 0 10.5-1.5T501-453l283-177q8-5 12-12.5t4-16.5q0-20-17-30t-35 1L480-520 212-688q-18-11-35-.5T160-659q0 10 4 17.5t12 11.5l283 177q5 3 10.5 4.5T480-447Z"/></svg>
    </a>
    <!-- <a href="">
      <?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="32px" height="32px">    <path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"/></svg>
    </a> -->
  </div>
  <p class="copyright">&copy; {new Date().getFullYear()} Erika Obama</p>
</footer>

<style>
  footer {
    @apply
    /* absolute
    inset-x-0
    bottom-0 */
    mt-12
    py-4
    flex
    flex-col
    gap-2
  }
  footer .social,
  footer .copyright {
    @apply
    flex
    justify-center
    gap-3
    text-xs
  }
</style>