---
import Skill from './Skill.astro';
const pagePathname = Astro.url.pathname
const skillset = {
  tools: ["Photoshop", "Illustrator", "Figma", "HTML", "CSS", "PHP", "JavaScript", "After Effects", "Premiere Pro", "Blender", "Unreal Engine", "PowerPoint" ],
  languages: ["Japanese (native)", "English (B2-C1)", "Russian (speaking: A1, reading & listening: A2-B1)", "French (A1)"],
  languagesJa: ["日本語（ネイティブ）", "英語（上級）", "ロシア語（会話：初級、読解・聴解：中級）", "フランス語（初級）"],
};
---
<div class="skills">
    <div class="skill-bar intersect:animate-fade-right animate-once intersect-once">
        <Skill skillName="Web design" skillNameJa="Webデザイン" proficiency="100"/>
        <Skill skillName="Coding" skillNameJa="コーディング" proficiency="90"/>
        <Skill skillName="Graphic design" skillNameJa="グラフィックデザイン" proficiency="100"/>
        <Skill skillName="Motion graphics" skillNameJa="モーショングラフィックス" proficiency="70"/>
        <Skill skillName="3D animation" skillNameJa="3Dアニメーション" proficiency="50"/>
    </div>
    <div class="skill-tool intersect:animate-fade-right animate-once intersect-once">
      { Astro.currentLocale === "ja"
        ? 
        <span class="intersect:animate-fade-right animate-once intersect-once">使用ツール・技術：</span>
        :
        <span class="intersect:animate-fade-right animate-once intersect-once">Tools and skills:</span>
      }
      <p class="intersect:animate-fade-right animate-once intersect-once">{skillset.tools.map((tool) => (<span>{tool}</span>))}</p>
      { 
        Astro.currentLocale === "en" && pagePathname !== "/en/"
        ?
          <span class="intersect:animate-fade-right animate-once intersect-once">Languages:</span>
          <p class="intersect:animate-fade-right animate-once intersect-once">{skillset.languages.map((language) => (<span>{language}</span>))}</p>
        :Astro.currentLocale === "ja" && pagePathname !== "/ja/"
        ? 
        <span class="intersect:animate-fade-right animate-once intersect-once">語学スキル：</span>
        <p class="intersect:animate-fade-right animate-once intersect-once">{skillset.languagesJa.map((language) => (<span>{language}</span>))}</p>
        :
          ``
      }
    </div>

</div>

<style>
    .skill-bar {
      @apply
      w-11/12
    }
    .skill-tool {
      @apply
      italic
      pt-4
      align-middle
    }
    .skill-tool p, 
    .skill-tool span {
      @apply 
      text-sm
    }
    
    .skill-tool > span {
      font-family: "heading", "heading-ja", sans-serif;
      @apply
      font-bold
    }
    .skill-tool p:not(:last-child) {
      @apply
      pb-2
    }
    .skill-tool p span:not(:last-child)::after {
      content: ', '
    }
    body.index .skills {
      @apply
      flex 
      flex-wrap 
    }
    body.index .skill-bar {
      @apply
      md:basis-1/2
    }
    body.index .skill-tool {
      @apply
      md:basis-1/2
      md:pl-16
      md:pt-0
    }
    
</style>