---
const { skillName, skillNameJa, proficiency } = Astro.props;
---

<div class="skills">
    { Astro.currentLocale === "ja"
      ? 
    <div class="skill-name ja intersect fade-right intersect-once">{skillNameJa}</div>
      :
    <div class="skill-name intersect fade-right intersect-once">{skillName}</div>
    }
    <div class={`skill-bar w-${proficiency} intersect fade-right intersect-once`}></div>
</div>

<style>
    .skills {
        @apply
        relative
        flex
        items-center
    }
    .skill-name {
        width: 26ch;
    }
    .skill-name.ja {
        width: 38ch;
        @apply
        text-sm
        md:text-base
    }
    .skill-bar {
        @apply 
        relative
        w-full
        h-2
    }
    .skill-bar::before {
        content: '';
        /* background-color: var(--text-light); */
        @apply
        absolute
        h-2
        rounded-full
    }
    /* html.dark .skill-bar::before {
        background-color: var(--text-dark);
    } */
    .skill-bar.w-10::before {
    width: 10%;
    }
    .skill-bar.w-20::before {
    width: 20%;
    }
    .skill-bar.w-30::before {
    width: 30%;
    }
    .skill-bar.w-40::before {
    width: 40%;
    }
    .skill-bar.w-50::before {
    width: 50%;
    }
    .skill-bar.w-60::before {
    width: 60%;
    }
    .skill-bar.w-70::before {
    width: 70%;
    }
    .skill-bar.w-80::before {
    width: 80%;
    }
    .skill-bar.w-90::before {
    width: 90%;
    }
    .skill-bar.w-100::before {
    width: 100%;
    }
    
    .skill-bar.w-10::before,
    .skill-bar.w-20::before,
    .skill-bar.w-30::before,
    .skill-bar.w-40::before,
    .skill-bar.w-50::before,
    .skill-bar.w-60::before,
    .skill-bar.w-70::before {
        background-color: var(--hl-purple-lt);
    }
    .skill-bar.w-80::before,
    .skill-bar.w-90::before,
    .skill-bar.w-100::before {
        background-color: var(--hl-pink-lt);
    }
    
    html.dark .skill-bar.w-10::before,
    html.dark .skill-bar.w-20::before,
    html.dark .skill-bar.w-30::before,
    html.dark .skill-bar.w-40::before,
    html.dark .skill-bar.w-50::before,
    html.dark .skill-bar.w-60::before,
    html.dark .skill-bar.w-70::before {
        background-color: var(--hl-purple-dk);
    }
    html.dark .skill-bar.w-80::before,
    html.dark .skill-bar.w-90::before,
    html.dark .skill-bar.w-100::before {
        background-color: var(--hl-pink-dk);
    }

</style>
